################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/PruebaTecnicaBeyond.Test/bin/Debug/net9.0
/PruebaTecnicaBeyond.Test/obj
/PruebaTecnicaBeyond.WebAPI
